تبدیل دیتا تایپ ها

در صورت امکان تبدیل میتواینم دیتا تایپ ها را تبدیل کنیم

In [17]:
# str()
# int ---> str ✓  
s = str(50)
print(s)
print(type(s))
# float ---> str ✓
s = str(50.5)
print(s)
print(type(s))
# list ---> str ✓
s = str([1, 2, 3])
print(s)
print(type(s))
# typle ---> str ✓
s = str((1, 2, 3))
print(s)
print(type(s))
# set ---> str ✓
s = str({1, 2, 3})
print(s)
print(type(s))
# dict ---> str ✓
s = str({'name':'alireza', 'age':17})
print(s)
print(type(s))

50
<class 'str'>
50.5
<class 'str'>
[1, 2, 3]
<class 'str'>
(1, 2, 3)
<class 'str'>
{1, 2, 3}
<class 'str'>
{'name': 'alireza', 'age': 17}
<class 'str'>

In [24]:
# int()
# str number ---> int ✓
i = int('50')
print(i)
print(type(i))
# float ---> int ✓
i = int(50.5)
print(i)
print(type(i))

50
<class 'int'>
50
<class 'int'>

In [25]:
# float()
# str number ---> float ✓
f = float('50.5')
print(f)
print(type(f))
# int ---> float ✓
f = float(50)
print(f)
print(type(f))

50.5
<class 'float'>
50.0
<class 'float'>

In [34]:
# list()
# str ---> list ✓
l = list('123alireza')
print(l)
print(type(l))
# tuple ---> list ✓
l = list((1, 2, 3, 4))
print(l)
print(type(l))
# set ---> list ✓
l = list({1, 2, 3, 4, 4, 4})
print(l)
print(type(l))
# dict key ---> list ✓
l = list({'name':'alireza', 'age':17})
print(l)
print(type(l))

['1', '2', '3', 'a', 'l', 'i', 'r', 'e', 'z', 'a']
<class 'list'>
[1, 2, 3, 4]
<class 'list'>
[1, 2, 3, 4]
<class 'list'>
['name', 'age']
<class 'list'>

In [41]:
# typle()
# str ---> tuple ✓
t = tuple('123alireza')
print(t)
print(type(t))
# list ---> tuple ✓
t = tuple([1, 2, 3, 4])
print(t)
print(type(t))
# set ---> tuple ✓
t = tuple({1, 2, 3, 4, 4, 4})
print(t)
print(type(t))
# dict key ---> tuple ✓
t = tuple({'name':'alireza', 'age':17})
print(t)
print(type(t))

('1', '2', '3', 'a', 'l', 'i', 'r', 'e', 'z', 'a')
<class 'tuple'>
(1, 2, 3, 4)
<class 'tuple'>
(1, 2, 3, 4)
<class 'tuple'>
('name', 'age')
<class 'tuple'>

In [42]:
# set()
# str ---> set ✓
s = set('123alireza')
print(s)
print(type(s))
# list ---> set ✓
s = set([1, 2, 3, 4])
print(s)
print(type(s))
# tuple ---> set ✓
s = set((1, 2, 3, 4, 4, 4))
print(s)
print(type(s))
# dict key ---> set ✓
s = set({'name':'alireza', 'age':17})
print(s)
print(type(s))

{'r', 'z', '3', 'l', 'a', 'e', '2', 'i', '1'}
<class 'set'>
{1, 2, 3, 4}
<class 'set'>
{1, 2, 3, 4}
<class 'set'>
{'name', 'age'}
<class 'set'>

In [44]:
# dict()
# list ---> dict ✓
d = dict([('name','allireza'), ('age',16)])
print(d)
print(type(d))
# tuple ---> dict ✓
d = dict((('name','allireza'), ('age',16)))
print(d)
print(type(d))
# set ---> dict ✓
d = dict({('name','allireza'), ('age',16)})
print(d)
print(type(d))

{'name': 'allireza', 'age': 16}
<class 'dict'>
{'name': 'allireza', 'age': 16}
<class 'dict'>
{'age': 16, 'name': 'allireza'}
<class 'dict'>

In [3]:
a = 10
b = 3

print(a + b)   
print(a - b)   
print(a * b)   
print(a / b)    
print(a // b)   
print(a % b)    
print(a ** b)

[1, 2, 1, 2]
12

In [ ]:
s1 = "Hello"
s2 = "World"

print(s1 + " " + s2)  
print(s1 * 3)  
# print(s1 - s2)  # ❌ ارور! منها در رشته‌ها مجاز نیست
# print(s1 / 2)  # ❌ ارور! تقسیم در رشته‌ها مجاز نیست

In [ ]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]

print(l1 + l2)  
print(l1 * 2)  
# print(l1 - l2)  # ❌ ارور! منها روی لیست‌ها مجاز نیست
# print(l1 / 2)  # ❌ ارور! تقسیم روی لیست‌ها مجاز نیست

In [ ]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)

print(t1 + t2)  
print(t1 * 2)  
# print(t1 - t2)  # ❌ ارور!
# print(t1 / 2)  # ❌ ارور!

In [ ]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}

print(s1 | s2)  # اجتماع: {1, 2, 3, 4, 5}
print(s1 & s2)  # اشتراک: {3}
print(s1 - s2)  # تفاوت: {1, 2}
print(s1 ^ s2)  # تفاضل متقارن: {1, 2, 4, 5}
# print(s1 + s2)  # ❌ ارور!
# print(s1 * 2)  # ❌ ارور!

In [ ]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}

d1.update(d2)
print(d1)  # {'a': 1, 'b': 2, 'c': 3, 'd': 4}
# print(d1 + d2)  # ❌ ارور!

In [ ]:
num = 10
text = "Apples"

# print(num + text)  # ❌ ارور! عدد و رشته قابل جمع شدن نیستند

print(str(num) + " " + text)  

print(int("100") + 50)  
print(float("3.14") * 2)

In [ ]:
list1 = [1, 2, 3]
num = 5

# print(list1 + num)  # ❌ ارور!
print(list1 + [num])

In [ ]:
"""
+----------------+------------+------------+------------+------------+
|   Data Type    |     +      |     -      |     *      |     /      |
+----------------+------------+------------+------------+------------+
| int, float     |     ✅     |     ✅     |     ✅     |     ✅     |
| str (string)   | ✅ (concat)|     ❌     | ✅ (repeat)|     ❌     |
| list           | ✅ (concat)|     ❌     | ✅ (repeat)|     ❌     |
| tuple          | ✅ (concat)|     ❌     | ✅ (repeat)|     ❌     |
| set            |     ❌     |     ❌     |     ❌     |     ❌     |
| dict           |     ❌     |     ❌     |     ❌     |     ❌     |
+----------------+------------+------------+------------+------------+

"""